<!-- <div class="navigation-items" [@simpleFadeAnimation]="'in'">
  <a href="/" aria-current="page" aria-label="home"><img
      src="https://uploads-ssl.webflow.com/62a0936725ae46e3b40cb6f2/62a0941a5376ad420a6bf1fd_Logo%20letra%20D.png"
      loading="lazy" alt="" class="round-image" /></a>
  <div class="navigation-wrap">
    <nav role="navigation" class="home-nav">
      <a href="/" aria-current="home" class="">Home</a><a href="/about" class="">About</a>
    </nav>
    <div class="menu-button w-nav-button" style="-webkit-user-select: text" aria-label="menu" role="button" tabindex="0"
      aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false"></div>
  </div>
</div> -->

<section class="margin-top" [@simpleFadeAnimation]="'in'">
  <div class="container">
    <img src="https://uploads-ssl.webflow.com/62a0936725ae46e3b40cb6f2/62a0b89528e5147bb5264f1a_asdasd.jpeg"
      loading="lazy" sizes="(max-width: 479px) 33vw, (max-width: 767px) 24vw, 22vw" srcset="
        https://uploads-ssl.webflow.com/62a0936725ae46e3b40cb6f2/62a0b89528e5147bb5264f1a_asdasd-p-500.jpeg   500w,
        https://uploads-ssl.webflow.com/62a0936725ae46e3b40cb6f2/62a0b89528e5147bb5264f1a_asdasd-p-800.jpeg   800w,
        https://uploads-ssl.webflow.com/62a0936725ae46e3b40cb6f2/62a0b89528e5147bb5264f1a_asdasd-p-1080.jpeg 1080w,
        https://uploads-ssl.webflow.com/62a0936725ae46e3b40cb6f2/62a0b89528e5147bb5264f1a_asdasd.jpeg        1454w
      " alt="" class="round-image left" />
    <h1 data-mdb-animation="fade-in-down">João Coucelo</h1>
    <span class="low-opacity">Software Engineer</span>
    <h1 class="heading">
      Hey there! I’m a web developer based in sunny Lisbon, Portugal.
    </h1>
  </div>
</section>

<section class="margin-top">
  <div class="container">
    <h1>About me</h1>
    <br>
    <p>My name is João Ferreira, I ́m 24 years old and I'm a full-stack developer at PHC.</p>
    <p>I have 4 years of experience
      in .NET, SQL and GIT and 2 years in AngularJS</p>
    <p>I ́m proficient in developing frameworks and systems that have good performance and are easy to use, using Visual
      Studio tools to analyze performance and memory usage.</p>
    <p>Collaborate with UX/UI and Testing teams in an agile environment to get the best final product possible and
      deliver features on sprint reviews on time for 4+ years.
      I ́ve worked in teams of 6 to 11 other developers 4 to 8 testers.</p>
  </div>
</section>


<section [@simpleFadeAnimation]="'in'">
  <div class="container margin-top">

    <h1>Experience</h1>
    <!-- <mat-grid-list cols="4 ">
      <mat-grid-tile colspan="2" rowspan="2">
        <img src="/assets/phc.png" alt="" class="medium-image" />
        <div class="footer">
          <b class="margin"><a href="https://phcsoftware.com/">PHC Software</a></b><br>
          <span> Software Developer</span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="2">
        <img src="/assets/jec.png" loading="lazy" alt="" class="medium-image" />
        <div class="footer">
          <b class="margin"><a href="https://ciencias.ulisboa.pt/pt/tags/j%C3%BAnior-empresa-ci%C3%AAncias">Junior
              Empresa Ciências</a> </b>
          <span> Software Developer</span>
        </div>
      </mat-grid-tile>
    </mat-grid-list> -->

    <div class="things margin-top">
      <div class="paper">

        <h1>PHC</h1>
        <br />
        Software Engineer - Developer 06.2019 - PRESENT
        <br />
        <ul>
          <li>Development of an Enterprise Resource Planning (ERP) used in thousands of companies</li>
          <li>Developing architecture systems that helped improve the installation time of the product by 20%.</li>
          <li>Developed a two-factor authentication system.</li>
          <li>Developed an XML and ASCII configuration framework.</li>
          <li>Train junior developers.</li>
          <li>Work with the research, UI/UX, and tester teams to deliver the best features</li>
        </ul>
        <img src="/assets/phc.png" alt="" class="medium-image" />

      </div>
    </div>

    <div class="margin-top">
      <div class="things">
        <div class="paper">
          <h1>Junior Empresa Ciências</h1>
          <br />
          Project Manager/Software Engineer
          <br />
          05.2018 - 05.2019
          <br />
          <ul>
            <li>Refactoring multiple stationary store ́s sites, using django, html, css and javascript.</li>
            <li>Designed interfaces and provide documents, presentations and guidance for other developers.</li>
          </ul>
          <img src="/assets/jec.png" loading="lazy" alt="" class="medium-image" />

        </div>

      </div>


    </div>
  </div>
</section>

<section>
  <div class="container margin-top">
    <h1>Books</h1>
    <br>
    <mat-grid-list cols="4">
      <mat-grid-tile *ngFor="let book of books">
        <mat-card class="card-size">
          <img [src]="book.image" alt="image" class="small-image" />
          <mat-card-content>
            <p class="center-text margin-top">
              {{ book.title }}
              <br />
              {{ book.subtitle }}
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</section>

<section>
  <div class="container margin-top">
    <h1>Things that I...</h1>

    <div class="display-grid small-margin-top">
      <div *ngFor="let item of things">
        <div class="display-contents">
          <div *ngIf="item.like">
            <span class="align-left green like">Like</span>
          </div>
          <br />

          <img *ngIf="item.like" [src]="item.name" loading="lazy" class="align-left" />
          <span *ngIf="!item.like" class="align-right red dontlike">Don´t like</span>
          <br />

          <img *ngIf="!item.like" [src]="item.name" loading="lazy" class="align-right" />
        </div>
      </div>
    </div>
  </div>
</section>

<section>

  <div class="container margin-top margin-bottom ">
    <mat-card class="card-size">

      <h2>
        Want to get in touch? <br />
        Drop me a line!
      </h2>
      <em>I'm available for projects, podcasts, talks, & collabs. Looking to start
        a new project or just want to say hi? Send me an email and I’ll do my best
        to reply within 24 hrs!
      </em>
      <br />

      <div >
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
          <div class="row align-items-start margins">
            <mat-form-field hintLabel="Name" appearance="fill" class="col-6">
              <mat-label>Name</mat-label>
              <input matInput #input maxlength="10" formControlName="name" placeholder="Ex. Joe" required />
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-6">
              <mat-label>Enter your email</mat-label>
              <input matInput type="email" placeholder="joe@example.com" formControlName="email" />
              <mat-error *ngIf="email?.invalid">{{
                getErrorMessage()
                }}</mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill" class="col-12">
              <mat-label>Message</mat-label>
              <textarea rows="4" matInput formControlName="message" required></textarea>
            </mat-form-field>
          </div>

          <div class="row">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">
              Send message
            </button>
          </div>

          <mat-error *ngIf="formGroup.valid">{{
            this.getErrorMessage()
            }}</mat-error>
        </form>
      </div>
    </mat-card>

  </div>
</section>

<div class="container">
  <p>&nbsp;</p>
</div>
